
/*
#pane-container {
margin: 0;
padding: 0;
width: 100px;
}

.pane h1 {
padding: 5px;
cursor: pointer;
position: relative;
background-color: #4c4c4c;
color: #fff;
font-weight: normal;
font-size: 20px;
margin: 0;
}

.pane p {
padding: 10px;
margin: 0;
background-color: #e4e4e4;
}
*/

#pane-container{
	margin:auto;
	width:300px;
}

h1{
	padding:5px;
	background-color:#00FF00;
	color:orange;
	margin:0;
	font-size:2em;   /*1em in css = ?*/
	border-bottom:1px solid black;
	cursor:pointer;
}

p{
	padding:20px;
	background-color:#98FB98;
	color:#800080;
	margin:0;
	font-weight:bold;
	font-style:italic;
}